table{
    width: 92%;
}

thead tr th{
    font-family: Calibri;
    background-color: #424242;
    color: #ffffff;
    font-size: 14px;
    padding: 4px;
    border-left: 1px solid #c1c1c1;
}

.dark{
    background-color: #f6f6f6;
    font-size: 12px;
    font-family: Calibri;
    color: #797979;
}

.light{
    background-color: #fafafa;
    font-size: 12px;
    font-family: Calibri;
    color: #797979;    
}

.dark td, .light td{
    padding: 6px;
    border-left: 1px solid #c1c1c1;
}

.table-footer{
    height: 5px;
    background-color: #424242;
}

.done-btn{
    background-image: URL(../images/done-btn.png);
    width: 43px;
    height: 21px;
    display: inline-block;
}

.cancel-btn{
    background-image: URL(../images/cancel-btn.png);
    width: 61px;
    height: 21px;
    display: inline-block;
}


.pagination{
    float: right;position: relative;right: 72px;top: 10px;
}

.pagination strong{
    color: #ff0054;
}

.pagination a{
    color: #424242;
}